/* TODO: make it look awesome. */
/* TODO: make it responsive. */

.d-none {
  display: none;
}

body {
  background-color: #c3c3c3;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  max-width: 400px;
  width: 100%;
}

li {
  cursor: pointer;
}

pre {
  white-space: pre-wrap;
}

select,
input,
textarea {
  padding: 0.5em 1em;
  border-radius: 15px;
  width: 100%;
  box-sizing: border-box;
}

button {
  width: 100%;
  border-radius: 10px;
  color: white;
  background-color: rgb(61, 110, 61);
  padding: 0.5em 1em;
}

label {
  font-weight: bold;
}
